<a href="https://colab.research.google.com/github/cassiegraf/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Optimization attempt #1 (after running original data with 72% accuracy).**


*   adjusted the number of hidden layers from 2 to 3, and assigned 22 nodes to each layer
*   accuracy did not change, remained at 72%

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

**Target Variables:**

*   IS_SUCCESSFUL


**Feature Variables:**   

*   APPLICATION_TYPE
*   AFFILIATION
*   CLASSIFICATION
*   USE_CAUSE
*   ORGANIZATION
*   STATUS
*   INCOME_AMT
*   SPECIAL_CONSIDERATIONS
*   ASK_AMT

In [4]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
cols_keep = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL']
funding_df = application_df[cols_keep]
funding_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Determine the number of unique values in each column.
funding_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
app_count = funding_df["APPLICATION_TYPE"].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value (less than 527) and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count < 527].index)

# Replace in dataframe
for app in application_types_to_replace:
    funding_df['APPLICATION_TYPE'] = funding_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
funding_df['APPLICATION_TYPE'].value_counts()

<ipython-input-8-81140e655f0b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  funding_df['APPLICATION_TYPE'] = funding_df['APPLICATION_TYPE'].replace(app,"Other")

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
class_count = funding_df["CLASSIFICATION"].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# Choose a cutoff value (greater than 1882) and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 1882].index)

# Replace in dataframe
for app in classifications_to_replace:
    funding_df['CLASSIFICATION'] = funding_df['CLASSIFICATION'].replace(app,"Other")

# Check to make sure binning was successful
funding_df['CLASSIFICATION'].value_counts()

<ipython-input-10-1f5792729f6f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  funding_df['CLASSIFICATION'] = funding_df['CLASSIFICATION'].replace(app,"Other")

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy = pd.get_dummies(funding_df)
dummy.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
funding_df_final = dummy
funding_df_final.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays
y = funding_df_final['IS_SUCCESSFUL']
X = funding_df_final.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 22
hidden_nodes_layer2 = 22
hidden_nodes_layer3 = 22


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 22)                968

 dense_1 (Dense)             (None, 22)                506

 dense_2 (Dense)             (None, 22)                506

 dense_3 (Dense)             (None, 1)                 23

=================================================================
Total params: 2,003
Trainable params: 2,003
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model=nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 4ms/step - loss: 0.5832 - accuracy: 0.7170
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7293
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7298
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7302
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7314
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7324
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7311
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5481 - accuracy: 0.7333
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5472 - accuracy: 0.7328
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7334
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7338
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7342
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7343
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7344
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5456 - accuracy: 0.7339
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5451 - accuracy: 0.7357
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7353
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7363
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7351
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7361
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7355
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7357
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7353
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7348
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7374
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7369
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7368
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7368
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7360
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7377
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7378
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7378
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7381
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7372
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7370
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7378
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7378
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7379
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7376
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7385
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7377
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7389
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7373
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7381
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7388
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7385
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7385
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7375
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7392
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7381
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7379
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7383
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7385
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7378
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7390
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7389
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7385
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7383
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7397
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7389
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7385
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7385
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7388
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7385
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7390
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7394
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7399
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7388
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7394
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7395
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7383
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7387
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7393
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7388
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7392
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7402
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7394
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7404
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7402
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7404
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7398
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7382
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7397
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7402
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7398
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7397
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7393
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7405
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7395
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5378 - accuracy: 0.7401
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7396
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7402
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7399
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7410
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7412
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7397
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7397
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7405
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7406

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5568 - accuracy: 0.7258 - 1s/epoch - 4ms/step
Loss: 0.5568342804908752, Accuracy: 0.7258309125900269

In [22]:
# Export our model to HDF5 file
nn.save(r"C:\Users\cassi\OneDrive\deep-learning-challenge\AlphabetSoupCharity_Optimization1.h5")